@import "../../vars.scss";

$softBlack: rgba(
  $color: black,
  $alpha: 0.1,
);

.ContactPage {
  align-items: center;
  background-image: url("/img/contact/background.png");
  display: flex;
  flex-direction: column;
  padding: 2.75rem 0;

  > h2 {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }

  > h3 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  &_block {
    background-color: white;
    box-shadow: 0 15px 20px $softBlack;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    height: 35rem;
    margin: 2rem 0;
    width: fit-content;

    > img {
      border-radius: 0.5rem;
      max-height: 560px;
    }

    > form {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 2rem 4rem;
      width: 100%;

      > input,
      > textarea {
        border: 1px solid $softBlack;
        border-radius: 1rem;
        box-shadow: 1px 1px $softBlack;
        font-size: 1.2rem;
        height: 2rem;
        margin: 1rem;
        outline: none;
        padding: 1rem;
        padding-left: 1.5rem;
        width: 20rem;
      }

      > textarea {
        height: 100%;
        resize: none;
        word-break: break-all;
      }

      .SubmitButton {
        background-color: $blackTransparent;
        border: 1px solid $softBlack;
        border-radius: 0.5rem;
        box-shadow: 1px 1px $softBlack;
        cursor: pointer;
        height: initial;
        padding: 1rem;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: $softBlack;
        }
      }
    }
  }
}

@media only screen and(max-width: 1127px) {
  .ContactPage_block > img {
    display: none;
  }
}

@media only screen and(max-width: 555px) {
  .ContactPage_block > form {
    margin: 2rem;

    > input,
    > textarea {
      width: 15rem;
    }
  }
}

@media only screen and(max-width: 432px) {
  .ContactPage {
    > h3 {
      display: none;
    }

    &_block {
      background: none;
      box-shadow: none;

      > form {
        margin: 0;

        > input,
        > textarea {
          width: 15rem;
        }

        .SubmitButton {
          background-color: whitesmoke;

          &:hover {
            background-color: lightgray;
          }
        }
      }
    }
  }
}
