@import "../../vars.scss";

.TeamsPage {
  background-color: #eaedf5;
  margin: 0;
  padding: 2rem 3rem;

  > div {
    display: flex;
    flex-direction: row;

    > button {
      background-color: rgba($color: rgb(221, 191, 191), $alpha: 0.1);
      border: 1px solid rgba($color: black, $alpha: 0.25);
      border-radius: 0.6rem;
      cursor: pointer;
      outline: none;
      padding: 0.5rem;
      width: 12%;
    }

    .popup-content {
      border-radius: 1rem;
      max-width: 40rem;

      > form {
        display: flex;
        flex-direction: column;
        margin: 1.5rem 3rem;

        > input {
          height: 1.5rem;
        }

        > textarea {
          height: 5rem;
        }

        > input,
        textarea {
          border: 1px solid $softBlack;
          border-radius: 0.6rem;
          box-shadow: 1px 1px $softBlack;
          margin-bottom: 1rem;
        }

        > div {
          margin-bottom: 1rem;

          > p {
            text-align: left;
          }

          > div {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: 10rem;

            > label {
              margin-bottom: 0.2rem;
            }
          }
        }

        > .SubmitButton {
          align-self: center;
          cursor: pointer;
          height: 2rem;
          margin: 0rem;
          outline: none;
          width: 10rem;
        }
      }
    }

    .SearchBar {
      width: 100%;

      > input {
        background-color: white;
        box-shadow: 0 0 5px 1px rgba($color: black, $alpha: 0.25);
        height: 1.5rem;
        width: 90%;
      }
    }
  }

  > span {
    display: flex;
    flex-direction: row;
  }

  &_content {
    width: 100%;

    &_list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      margin: 0;
      padding-left: 0;

      > p {
        padding-top: 3rem;
      }

      > li {
        background-color: rgba($color: royalblue, $alpha: 0.3);
        border-radius: 0.5rem;
        box-shadow: 0 0 10px 1px rgba($color: black, $alpha: 0.15);
        height: 25rem;
        margin: 1rem;
        margin-top: calc(1rem + 64px) !important;
        min-width: 20rem;
        padding: 1rem;
        width: 17.5vw;

        a {
          color: black;
          display: contents;
          text-decoration: none;
        }

        img {
          margin-top: -64px;
          height: 128px;
        }

        h3 {
          margin-left: auto;
          margin-right: auto;
          overflow-wrap: break-word;
          width: fit-content;

          &:hover {
            color: rgb(96, 175, 233);
            text-decoration: underline;
          }
        }

        p {
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 10;
        }
      }
    }
  }
}

@media only screen and(max-width: 1360px) {
  .TeamsPage {
    padding: 2rem;

    &_content_list {
      > li {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 15rem;
        margin: 1.5rem !important;
        min-width: 25rem;
        width: 40vw;

        span {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }

        img {
          height: 64px;
          margin-top: -8px;
        }

        h3 {
          margin: 0 1rem;
        }

        p {
          -webkit-line-clamp: 8;
        }
      }
    }
  }
}

@media only screen and(max-width: 800px) {
  .TeamsPage {
    > span {
      flex-direction: column;
    }

    &_content {
      border-left: none;
      margin: 0;

      &_list > li {
        min-width: 75vw;
      }
    }
  }
}
