.ActionProfile {
  .ActionHeader {
    &_parallax {
      align-items: center;
      display: flex;
      min-height: 25rem;
      justify-content: center;

      &Photo {
        margin-top: 2.5rem;
      }
    }

    &_infoDiv {
      background-color: rgba($color: lightgray, $alpha: 0.9);
      border-radius: 1rem;
      display: flex;
      min-width: 45rem;
      max-width: 60rem;
      padding: 0.5rem;

      > img {
        border-radius: 1rem;
        object-fit: cover;
        width: 12rem;
      }

      > div {
        padding-left: 1rem;
        text-align: left;

        > p {
          margin-top: 3rem;
        }

        > button {
          background-color: rgba($color: white, $alpha: 0.6);
          border: none;
          border-radius: 0.3rem;
          box-shadow: 1px 1px 1px 1px rgba($color: white, $alpha: 0.3);
          cursor: pointer;
          font-size: 1rem;
          margin-top: 1rem;
          outline: none;
          padding: 0.2rem;
          transition: 0.15s ease-in-out;
          width: 45%;

          &:hover {
            background-color: rgba($color: white, $alpha: 0.8);
          }

          &:not(:first-of-type) {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }

  .ActionDetails {
    padding: 0 12rem;
    text-align: left;

    > h3 {
      text-decoration: underline;
    }

    &_infoDiv {
      display: flex;
      flex-direction: row;
      padding-bottom: 0.5rem;

      &_map {
        color: blue;
        cursor: pointer;
        font-size: 1rem;
        width: fit-content;
      }

      &_organizer {
        background-color: rgba($color: burlywood, $alpha: 0.15);
        border: 0.5px solid rgb(77, 43, 43);
        border-radius: 0.5rem;
        box-shadow: 1px 1px 1px 1px rgba($color: black, $alpha: 0.3);
        height: fit-content;
        min-width: 12rem;
        padding: 0.3rem;
        text-align: center;
        width: fit-content;

        > img {
          max-height: 7rem;
          object-fit: cover;
        }

        > p {
          overflow-wrap: break-word;
        }
      }
    }

    &_categories {
      border-top: 1px solid black;
      display: flex;
      flex-direction: row;

      > ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;

        > li {
          background-color: rgba($color: burlywood, $alpha: 0.3);
          border: 1px solid rgba($color: black, $alpha: 0.3);
          border-radius: 0.2rem;
          cursor: pointer;
          padding: 0.25rem;
          margin-top: 0.2rem;

          &:not(:last-of-type) {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 800px) {
  .ActionProfile {
    .ActionHeader {
      &_infoDiv {
        min-width: 30rem;

        > div {
          > h1 {
            font-size: 1.2rem;
          }
        }
      }
    }

    .ActionDetails {
      padding: 0 5rem;
    }
  }
}

@media only screen and(max-width:550px) {
  .ActionProfile {
    .ActionHeader {
      &_infoDiv {
        min-width: 20rem;

        > img {
          display: none;
        }
      }
    }

    .ActionDetails {
      padding: 0 2rem;

      &_infoDiv {
        flex-direction: column;

        &_organizer {
          align-self: center;
          width: fit-content;

          > h3,
          > p {
            font-size: 0.8rem;
          }

          > img {
            max-height: 4rem;
          }
        }
      }
    }
  }
}
