@import "../../vars.scss";

.SearchBar {
  align-self: center;

  > input {
    background: url("/img/icons/search.png") no-repeat scroll -2px;
    background-color: $grayHover;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0.75rem 1rem;
    padding-left: 1.75rem;
  }
}
