@import "../../../vars.scss";

.Buttons {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;

  a {
    background-color: $grayHover;
    border-radius: 5%;
    color: initial;
    margin-left: 1rem;
    padding: 0.3rem;
    text-decoration: none;
    transition: 0.1s ease-in-out;

    &:hover {
      background-color: $grayHoverStrong;
    }
  }
}

@media only screen and(max-width: 800px) {
  .Buttons {
    flex-flow: column;

    a {
      background: none;
      margin: 0;

      &:hover {
        background-color: $grayHover;
      }
    }
  }
}
