.Card {
  border-radius: 0.5rem;
  background-image: linear-gradient(to bottom right, rgb(233, 233, 233), white);
  border: 1px solid rgba($color: black, $alpha: 0.3);
  display: flex;
  flex-direction: row;
  padding: 1.5rem 1rem;
  width: calc(100% - 2rem); //100% - padding left&right
  align-items: center;

  > img {
    // align-self: center;
    //border: 1px solid rgba($color: black, $alpha: 0.3);
    border-radius: 0.5rem;
    margin-right: 1rem;
    min-height: 10rem;
    min-width: 10rem;
    max-height: 10rem;
    max-width: 10rem;
    object-fit: cover;
  }

  &_body {
    //margin-bottom: 1rem;
    //margin: 0.5rem 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    //display: flex;
    //height: 11rem;

    > h1 {
      font-size: 1.4rem;
      margin: 0;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > h2 {
      font-size: 0.7rem;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-top: 0.3rem;
    }
    > h3 {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    > p {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      font-size: 0.8rem;
    }
  }

  &_categories {
    flex-direction: row;
    > h1 {
      font-size: 0.8rem;
      margin-top: 1rem;
    }

    > ul {
      display: flex;

      flex-wrap: wrap;
      list-style-type: none;
      padding-left: 0;
      margin: 0;

      > li {
        //background-color: rgba($color: burlywood, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.3);
        border-radius: 0.2rem;
        padding: 0.25rem;
        font-size: 0.8rem;

        &:not(:last-of-type) {
          margin-right: 0.5rem;
        }
      }
    }
  }

  &:not(:first-of-type) {
    margin-top: 0.8rem;
  }
}
