@import "../../vars.scss";

.ActionsPage {
  padding: 4rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: row;
  margin-left: 5rem;

  &_sidePanel {
    text-align: start;
    position: fixed;
    padding: 1rem;

    .filter_panel_title > h2 {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }

    .filter_panel {
      .checkbox_container {
        border-bottom-width: thin;
        border-bottom-style: solid;
        border-bottom-color: $softBlack;
        width: 10rem;
      }

      > div {
        .container {
          display: block;
          position: relative;
          padding-left: 30px;
          margin-bottom: 10px;
          cursor: pointer;
          font-size: 1.2rem;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          &:hover {
            color: rgb(96, 175, 233);
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border: 1px solid $softBlack;

            &:after {
              content: "";
              position: absolute;
              display: none;
            }
          }

          &:hover input ~ .checkmark {
            background-color: #ccc;
            transition: 0.2s ease-in-out;
          }

          input:checked ~ .checkmark {
            background-color: rgb(96, 175, 233);
          }

          input:checked ~ .checkmark:after {
            display: block;
          }

          .checkmark:after {
            left: 7px;
            top: 3px;
            width: 3px;
            height: 8px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }

      > h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1.8rem;
      }
    }
  }

  &_mainPanel {
    text-align: start;
    width: 100%;
    margin-left: 20rem;

    > div {
      align-items: center;
      .SearchBar {
        > input {
          width: 50vw;
        }
      }
    }

    .Cards_panel {
      > li {
        border: 1px solid $softBlack;
        box-shadow: 0 15px 20px $softBlack;
        border-radius: 0.5rem;
        list-style: none;
        flex-direction: row;
        display: flex;
        margin-bottom: 2rem;
        width: 50vw;
        margin-top: 2rem;
        margin-left: 1.5rem;
        background-color: $softBlack;

        .pic {
          border-radius: 0.5rem;
          width: 20rem;
          height: 15rem;
        }

        .action_pic {
          border-radius: 0.5rem;
          width: 20rem;
          height: 15rem;
        }

        .details {
          margin-left: 2rem;

          > a {
            color: black;
            text-decoration: none;
            display: inline-block;

            &:hover {
              color: rgb(96, 175, 233);
              text-decoration: underline;
            }
          }

          .action_title {
            > h3 {
              word-break: break-word;
            }
          }

          > h5 {
            word-break: break-word;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 1024px) {
  .ActionsPage {
    &_mainPanel {
      .SearchBar {
        display: block;
      }
    }
  }
}

@media only screen and(max-width: 650px) {
  .ActionsPage {
    &_mainPanel {
      .SearchBar {
        display: none;
      }
    }
  }
}
