.App {
  text-align: center;
  overflow: hidden;

  main {
    > div {
      padding-top: 4rem;
      overflow: auto;
      height: calc(100vh - 8.25rem); // nav: 4rem, footer: 4.25rem
    }
  }

  .ScrollButton {
    border-radius: 30%;
    outline: none;
  }

  .hidden {
    display: none;
  }

  .clamped {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  @media only screen and(max-width: 550px) {
    main > div {
      height: calc(100vh - 10.25rem); // nav: 4rem, footer: 6.25rem
    }
  }
}
