.App {
  text-align: center;

  main {
    margin-top: 4rem;
  }

  .hidden {
    display: none;
  }

  .blurred {
    position: fixed;
    pointer-events: none;
  }

  .clamped {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
