.App {
  text-align: center;

  main {
    > div {
      padding-top: 4rem;
      min-height: calc(100vh - 8.25rem); // nav: 4rem, footer: 4.25rem
    }
  }

  .ScrollButton {
    border-radius: 30%;
    outline: none;
  }

  .hidden {
    display: none;
  }

  .clamped {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
  }
}
