$grayHover: rgba(
  $color: gray,
  $alpha: 0.1,
);

$grayHoverStrong: rgba(
  $color: gray,
  $alpha: 0.2,
);

$grayTransparent: rgba(
  $color: gray,
  $alpha: 0.4,
);

$blackTransparent: rgba(
  $color: black,
  $alpha: 0.05,
);

$softBlack: rgba(
  $color: black,
  $alpha: 0.1,
);

$mediumBlack: rgba(
  $color: black,
  $alpha: 0.15,
);
