.TeamProfile {
  background-color: rgb(234, 237, 245);
  padding: 2rem 13vw;
  margin: auto;

  .TopPanel {
    background-color: rgba($color: white, $alpha: 0.7);
    //border-radius: 1rem;
    //box-shadow: 0 0 30px 1px rgba($color: black, $alpha: 0.3);
    border: 1px solid rgba($color: black, $alpha: 0.3);
    padding: 2rem;
    border-radius: 0.5rem;
    //width: 80vw;
    &_info {
      display: flex;
      flex-direction: row;

      > img {
        height: 13rem;
        border-radius: 160px;
        border: 1px solid rgba($color: black, $alpha: 0.3);
        border-width: 1px;
        margin-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      > div {
        text-align: left;

        > img {
          display: none;
          height: 4rem;
          border-radius: 160px;
          border: 1px solid rgba($color: black, $alpha: 0.3);
          border-width: 1px;
          margin-right: 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        > h1 {
          font-size: 2.4rem;
          margin-top: 0;
          margin-bottom: 1.5rem;
        }

        > h2 {
          font-size: 1.2rem; //max 400 characters
          font-weight: normal;
        }
      }
    }

    > h3 {
      display: none;
      font-size: 1.2rem; //max 400 characters
      font-weight: normal;
    }

    &_followbutton {
      background-color: rgba($color: mediumblue, $alpha: 0.7);
      border: 1px solid rgba($color: black, $alpha: 0.3);
      border-radius: 0.2rem;
      color: white;
      cursor: pointer;
      margin-top: 0.8rem;
      font-size: 1.2rem;
      //padding: 0.6rem 4rem;
      transition: 0.2s ease-in-out;
      height: 2.7rem;
      width: 15rem;

      &:hover {
        background-color: rgba($color: blue, $alpha: 0.6);
      }
    }

    &_unfollowbutton {
      background-color: white;
      border: 1px solid rgba($color: black, $alpha: 0.3);
      border-radius: 0.2rem;
      color: black;
      cursor: pointer;
      margin-top: 0.8rem;
      font-size: 1.2rem;
      //padding: 0.6rem 5rem;
      transition: 0.2s ease-in-out;
      height: 2.7rem;
      width: 15rem;

      &:hover {
        background-color: rgba($color: blue, $alpha: 0.1);
      }
    }
  }

  .MidPanel {
    display: none;
    &_info {
      > h1 {
      }
      > hr {
      }
    }
    &_categories {
      > h1 {
      }
      > ul {
        > li {
        }
      }
    }
    &_both {
      &_center {
        > h1 {
        }
        > p {
        }
      }
      > h1 {
      }
      > hr {
      }
      > h2 {
      }
      > ul {
        > li {
        }
      }
    }
  }

  .BottomPanel {
    display: flex;

    .LeftSide {
      &_info {
        border-radius: 0.5rem;
        width: 15rem;
        background-color: rgba($color: white, $alpha: 0.7);
        box-shadow: 0 0 30px 10px rgba($color: white, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.3);
        padding: 1rem;
        justify-content: center;
        margin-top: 1rem;

        > h1 {
          margin: 0.5rem;
          font-size: 1.2rem;
        }
        > hr {
          margin: 1rem 3rem;
          opacity: 0.3;
        }
      }
      &_categories {
        border-radius: 0.5rem;
        width: 15rem;
        background-color: rgba($color: white, $alpha: 0.7);
        box-shadow: 0 0 30px 10px rgba($color: white, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.3);
        padding: 1rem;
        //justify-content: center;

        margin-top: 1rem;
        flex-direction: column;

        > h1 {
          margin: 0.5rem;
          font-size: 1.2rem;
        }
        > ul {
          justify-content: center;
          //display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 0;

          > li {
            font-size: 1rem;
            background-color: rgba($color: burlywood, $alpha: 0.3);
            font-weight: bold;
            border: 1px solid rgba($color: black, $alpha: 0.3);
            border-radius: 0.2rem;
            padding: 0.25rem;
            margin: 0.5rem 2.8rem;
            //margin: 0.5rem 0.2rem;
          }
        }
      }
    }

    .RightSide {
      border-radius: 0.5rem;
      width: calc(100% - 22rem);
      text-align: left;
      background-color: rgba($color: white, $alpha: 0.7);
      box-shadow: 0 0 30px 10px rgba($color: white, $alpha: 0.3);
      border: 1px solid rgba($color: black, $alpha: 0.3);
      padding: 0rem 2rem 1rem 2rem;
      margin-top: 1rem;
      margin-left: 1rem;
      align-self: flex-start;

      &_events {
        > h1 {
          //margin-top: 1;
          font-size: 1.8rem;
        }
      }
    }
  }
}

@media only screen and(max-width: 1180px) {
  .TeamProfile {
    padding: 2rem 12vw;
    .TopPanel {
      &_info {
        > img {
          height: 9rem;
        }

        > div {
          text-align: left;

          > h1 {
            font-size: 2rem;
          }

          > h2 {
            font-size: 1.1rem; //max 400 characters
          }
        }
      }

      &_followbutton {
        margin-top: 0.4rem;
        font-size: 1.1rem;
        height: 2.3rem;
        width: 12rem;
      }

      &_unfollowbutton {
        margin-top: 0.4rem;
        font-size: 1.1rem;
        height: 2.3rem;
        width: 12rem;
      }
    }
    .BottomPanel {
      .LeftSide {
        &_info {
          width: 11rem;

          > h1 {
            margin: 0.3rem;
            font-size: 1rem;
          }
        }
        &_categories {
          width: 11rem;
          > h1 {
            margin: 0.3em;
            font-size: 1rem;
          }
          > ul {
            > li {
              font-size: 0.8rem;
              font-weight: bold;
              margin: 0.5rem 2.8rem;
            }
          }
        }
      }

      .RightSide {
        width: calc(100% - 18rem);

        &_events {
          > h1 {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 1024px) {
  .TeamProfile {
    .TopPanel {
      &_info {
        > img {
          height: 8rem;
        }

        > div {
          text-align: left;

          > h1 {
            font-size: 1.8rem;
            margin-bottom: 0;
          }

          > h2 {
            font-size: 1rem; //max 400 characters
          }
        }
      }

      &_followbutton {
        margin-top: 0.4rem;
        font-size: 1rem;
        height: 2rem;
        width: 11rem;
      }

      &_unfollowbutton {
        margin-top: 0.4rem;
        font-size: 1rem;
        height: 2rem;
        width: 11rem;
      }
    }
    .MidPanel {
      display: flex;
      justify-content: center;

      &_info {
        border-radius: 0.5rem;
        width: calc(50% - 0.5rem);
        background-color: rgba($color: white, $alpha: 0.7);
        box-shadow: 0 0 30px 10px rgba($color: white, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.3);
        padding: 0.5rem;
        margin-top: 1rem;
        margin-right: 1rem;
        > h1 {
          margin: 0.5rem;
          font-size: 1rem;
        }
        > hr {
          margin: 1rem 3rem;
          opacity: 0.3;
        }
      }
      &_categories {
        width: calc(50% - 0.5rem);
        border-radius: 0.5rem;
        background-color: rgba($color: white, $alpha: 0.7);
        box-shadow: 0 0 30px 10px rgba($color: white, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.3);
        padding: 0.5rem;
        margin-top: 1rem;

        > h1 {
          margin: 0.5rem;
          font-size: 1rem;
        }
        > ul {
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
          list-style-type: none;
          padding: 0;

          > li {
            font-size: 0.9rem;
            background-color: rgba($color: burlywood, $alpha: 0.3);
            font-weight: bold;
            border: 1px solid rgba($color: black, $alpha: 0.3);
            border-radius: 0.2rem;
            padding: 0.2rem;
            margin: 0.5rem 0.2rem;
          }
        }
      }
    }
    .BottomPanel {
      .LeftSide {
        display: none;
      }

      .RightSide {
        width: calc(100%);
        margin-left: 0;

        &_events {
          > h1 {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 800px) {
  .TeamProfile {
    padding: 2rem 2vw;
    .TopPanel {
      &_info {
        > img {
          height: 6rem;
        }

        > div {
          text-align: left;

          > h1 {
            font-size: 1.5rem;
            margin-bottom: 0;
          }

          > h2 {
            font-size: 0.9rem; //max 400 characters
          }
        }
      }

      &_followbutton {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        height: 1.8rem;
        width: 10rem;
      }

      &_unfollowbutton {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        height: 1.8rem;
        width: 10rem;
      }
    }
    .MidPanel {
      &_info {
        > h1 {
          font-size: 0.9rem;
        }
      }
      &_categories {
        > h1 {
          font-size: 0.9rem;
        }
        > ul {
          > li {
            font-size: 0.8rem;
            margin: 0.4rem 0.2rem;
          }
        }
      }
    }
    .BottomPanel {
      .LeftSide {
        display: none;
      }

      .RightSide {
        width: calc(100%);
        margin-left: 0;

        &_events {
          > h1 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 560px) {
  .TeamProfile {
    padding: 2rem 0rem;
    .TopPanel {
      &_info {
        > img {
          display: none;
        }

        > div {
          display: flex;
          text-align: left;
          align-items: center;

          > img {
            height: 3.5rem;
            display: block;
            margin: 0rem 1rem;
          }

          > h1 {
            font-size: 1.3rem;
            margin: 0;
          }

          > h2 {
            display: none;
            font-size: 0.9rem; //max 400 characters
          }
        }
      }
      > h3 {
        text-align: left;
        display: flex;
        font-size: 0.9rem; //max 400 characters
      }

      &_followbutton {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        height: 1.8rem;
        width: 10rem;
      }

      &_unfollowbutton {
        margin-top: 0.4rem;
        font-size: 0.9rem;
        height: 1.8rem;
        width: 10rem;
      }
    }
    .MidPanel {
      &_info {
        > h1 {
          font-size: 0.9rem;
        }
      }
      &_categories {
        > h1 {
          font-size: 0.9rem;
        }
        > ul {
          > li {
            font-size: 0.8rem;
            margin: 0.4rem 0.2rem;
          }
        }
      }
      &_both {
        &_center {
          > h1 {
          }
          > p {
          }
        }
        > h1 {
        }
        > hr {
        }
        > h2 {
        }
        > ul {
          > li {
          }
        }
      }
    }
    .BottomPanel {
      .LeftSide {
        display: none;
      }

      .RightSide {
        width: calc(100%);
        margin-left: 0;

        &_events {
          > h1 {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
