.ProfilePage {
  background-image: url("/img/profile/sky.jpg");
  display: flex;
  flex-direction: row;
  padding: 0 8rem;

  > div {
    padding-top: 4rem;
  }

  .UserPanel {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15rem;

    button {
      background-color: rgba($color: white, $alpha: 0.6);
      border: none;
      border-radius: 0.3rem;
      box-shadow: 1px 1px 1px 1px rgba($color: black, $alpha: 0.3);
      cursor: pointer;
      font-size: 1.2rem;
      margin-top: 1rem;
      outline: none;
      padding: 0.5rem;
      transition: 0.15s ease-in-out;
      width: 100%;

      &:hover {
        background-color: rgba($color: white, $alpha: 0.8);
      }
    }

    > img {
      border-radius: 0.5rem;
      max-height: 15rem;
      max-width: 15rem;
    }

    &_infoDiv {
      margin-top: 1rem;
      width: 100%;

      > * {
        word-break: break-word;
      }
    }
  }

  .Container {
    margin-left: 5rem;
    margin-top: 1rem;
    width: 100%;

    &_tabs {
      border-bottom: 1px solid black;
      display: flex;
      font-size: 1.25rem;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        cursor: pointer;
        padding: 0.5rem;
        padding-top: 0;

        &:hover {
          border-bottom: 2px solid orangered;
        }

        &:not(:first-of-type) {
          margin-left: 4rem;
        }

        &.active {
          border-bottom: 2px solid red;
          font-weight: bold;
        }
      }
    }

    &_content {
      margin-bottom: 4rem;
      margin-top: 1rem;

      > :not(.active) {
        display: none;
      }

      > div > section {
        background-color: rgba($color: white, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.4);
        border-radius: 0.5rem;
        box-shadow: 0 0 5px 1px rgba($color: black, $alpha: 0.2);
        display: flex;
        flex-direction: column;
        padding: 0rem 2rem;

        &:not(:first-of-type) {
          margin-top: 1rem;
        }

        > h3 {
          font-size: 1.5rem;
          margin: 1rem 0;
          text-align: left;
        }

        > ul {
          list-style-type: none;
          padding: 0;
          text-align: left;

          .Card {
            background-color: rgba($color: white, $alpha: 0.5);
            border-radius: 0.5rem;
            border: 1px solid rgba($color: black, $alpha: 0.2);
            display: flex;
            flex-direction: row;
            padding: 1rem;

            > a {
              color: black;
              display: contents;
              margin: 0;
              text-decoration: none;

              > img {
                align-self: center;
                border-radius: 0.5rem;
                height: 128px;
                object-fit: cover;
                width: 128px;
              }
            }

            &_body {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin: 0.5rem 1.5rem;
              margin-bottom: 1rem;
              overflow-wrap: break-word;
              width: 100%;

              h4 {
                margin: 0;
                width: fit-content;
              }

              > p {
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                display: -webkit-box;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            &_categories {
              > h4 {
                margin: 0.5rem 0;
              }

              > ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style-type: none;
                padding-left: 0;

                > li {
                  border: 1px solid rgba($color: black, $alpha: 0.3);
                  border-radius: 0.2rem;
                  padding: 0.25rem;

                  &:not(:last-of-type) {
                    margin-right: 0.5rem;
                  }
                }
              }
            }

            &:not(:first-of-type) {
              margin-top: 0.8rem;
            }
          }
        }

        > p {
          align-self: center;
          cursor: pointer;
          overflow-wrap: break-word;
          padding: 0rem;
          text-decoration-line: underline;
          width: fit-content;
        }

        > a {
          align-self: center;
          color: black;
          width: fit-content;
        }
      }
    }
  }
}

@media only screen and(max-width: 1400px) {
  .ProfilePage {
    padding: initial 2rem;
  }
}

@media only screen and(max-width: 920px) {
  .ProfilePage {
    flex-direction: column;

    .UserPanel {
      flex-direction: row;
      padding: 2rem 0;
      width: 100%;

      button {
        width: 15rem;
      }

      &_infoDiv {
        margin-left: 2rem;
        margin-top: 0;
      }
    }

    .Container {
      margin: 1rem 0;
      padding-top: 0;
    }
  }
}

@media only screen and(max-width: 602px) {
  .ProfilePage {
    padding: 1rem;

    .UserPanel {
      > img {
        max-height: 8rem;
        max-width: 8rem;
      }

      &_infoDiv {
        button {
          width: 100%;
          margin: 0.5rem 0 !important;
        }

        > h2 {
          margin-top: 0;
        }
      }
    }

    .Container_content > div > section {
      > h3 {
        font-size: 1.25rem;
      }

      > ul {
        margin: 0;

        .Card {
          border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
          flex-direction: column;
          margin: 1rem 0 !important;

          > a > img {
            display: none;
          }

          &_body {
            margin: 1rem 0;
          }
        }
      }
    }
  }
}
