.Profile-page {
  background-image: url("/img/profile/sky.jpg");
  display: flex;
  flex-direction: row;
  padding: 4rem 8rem;

  .Bio-panel {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15rem;

    .Profile-photo {
      border-radius: 0.5rem;
      box-shadow: 1px 1px black;
      height: 15rem;

      .Edit-photo-button {
        display: none;
      }

      &-edit {
        .Edit-photo-button {
          background-color: rgba($color: white, $alpha: 0.6);
          border: none;
          border-radius: 5px;
          cursor: pointer;
          padding: 0.5rem;
          width: 100%;
        }
      }

      &,
      &-edit {
        .Photo {
          border-radius: 0.5rem;
          box-shadow: 1px 1px black;
          height: 15rem;
        }
      }
    }

    .Username {
      font-size: 1.5rem;
      font-weight: bold;
      overflow-wrap: break-word;
    }

    .Info {
      font-size: 1rem;
      margin-top: -0.5rem;
      max-width: 15rem;
      overflow-wrap: break-word;

      &-edit {
        .Edit-bio-input {
          border-radius: 0.3rem;
          display: flex;
          height: 5rem;
          resize: none;
          width: 98%;
        }

        .Save-button,
        .Cancel-button {
          align-items: center;
          background-color: rgba($color: white, $alpha: 0.6);
          border: 1px solid rgba($color: black, $alpha: 0.3);
          border-radius: 0.3rem;
          box-shadow: 0.5px 0.5px 0.5px 0.5px black;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          margin-top: 0.5rem;
          outline: none;
          padding: 0.2rem;
          transition: 0.15s ease-in-out;
          width: 100%;
        }

        .Save-button {
          &:hover {
            background-color: rgba($color: limegreen, $alpha: 0.6);
          }
        }

        .Cancel-button {
          &:hover {
            background-color: rgba($color: red, $alpha: 0.6);
          }
        }
      }
    }

    .Edit-profile-button {
      background-color: rgba($color: white, $alpha: 0.6);
      border: 1px solid rgba($color: black, $alpha: 0.3);
      border-radius: 0.3rem;
      box-shadow: 0.5px 0.5px 0.5px 0.5px black;
      cursor: pointer;
      font-size: 1.2rem;
      margin-top: 1rem;
      outline: none;
      padding: 0.5rem;
      transition: 0.15s ease-in-out;
      width: 15rem;

      &:hover {
        background-color: rgba($color: lightgray, $alpha: 0.6);
      }

      &-edit {
        display: none;
      }
    }
  }

  .Panel {
    margin-left: 5rem;
    width: 100%;

    .List {
      border-bottom: 1px solid black;
      display: flex;
      font-size: 1.25rem;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        cursor: pointer;
        padding: 0.5rem;
        padding-top: 0;

        &:hover {
          border-bottom: 2px solid orangered;
        }

        &:not(:first-of-type) {
          margin-left: 4rem;
        }

        &.Active-tab {
          border-bottom: 2px solid red;
          font-weight: bold;
        }
      }
    }

    .Content {
      margin-top: 1rem;

      > :not(.active) {
        display: none;
      }

      .Actions,
      .Teams {
        > div {
          background-color: rgba($color: white, $alpha: 0.3);
          border: 1px solid rgba($color: black, $alpha: 0.4);
          border-radius: 0.5rem;
          box-shadow: 0 0 5px 1px rgba($color: black, $alpha: 0.2);
          display: flex;
          flex-direction: column;
          padding: 0rem 2rem;

          &:not(:first-of-type) {
            margin-top: 1rem;
          }

          > h3 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            margin-top: 2rem;
            text-align: left;
          }

          > ul {
            list-style-type: none;
            padding: 0;
            text-align: left;

            > li:not(:first-of-type) {
              margin-top: 0.8rem;
            }
          }

          > p {
            align-self: center;
            cursor: pointer;
            overflow-wrap: break-word;
            padding: 0rem;
            text-decoration-line: underline;
            width: fit-content;
          }

          .Card {
            display: flex;
            flex-direction: row;

            .Card-image {
              border-radius: 0.5rem;
              height: 10rem;
              width: 10rem;
            }

            .Card-body {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin: 0.75rem 1.5rem;
              overflow-wrap: break-word;

              h4 {
                margin: 0;
              }

              .Card-categories {
                align-items: center;
                display: flex;
                flex-direction: row;

                > ul {
                  display: flex;
                  flex-direction: row;
                  list-style-type: none;
                  padding-left: 0.5rem;

                  > li {
                    border: 1px solid rgba($color: black, $alpha: 0.3);
                    border-radius: 0.2rem;
                    padding: 0.25rem;

                    &:not(:first-of-type) {
                      margin-left: 0.5rem;
                    }
                  }
                }
              }
            }
          }

          .Link {
            align-self: center;
            color: black;
            cursor: pointer;
            padding: 0rem;
            width: fit-content;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 1275px) {
  .Profile-page {
    padding: 4rem 2rem;
  }
}

@media only screen and(max-width: 920px) {
  .Profile-page {
    flex-direction: column;

    .Bio-panel {
      flex-direction: row;

      > div {
        margin: -1rem 2rem;
        margin-left: 0.2rem;
      }

      .Photo {
        height: 10rem;
        width: 15rem;
      }

      .Username {
        margin-top: -0.4rem;
      }

      .Info {
        &-edit {
          .Edit-bio-input {
            width: 15rem;
          }
        }
      }
    }

    .Panel {
      margin: 2.5rem 0rem;
    }
  }
}

@media only screen and(max-width: 570px) {
  .Profile-page {
    .Bio-panel {
      flex-direction: row;
      margin-left: -1rem;

      .Profile-photo {
        height: 8rem;
        width: 8rem;

        &,
        &-edit {
          .Photo {
            height: 8rem;
            width: 8rem;
          }
        }

        &-edit {
          .Edit-photo-button {
            padding: 0.5rem;
          }
        }
      }

      > div {
        margin: 0.5rem;

        .Username {
          font-size: 1rem;
        }

        .Info {
          font-size: 0.8rem;

          &-edit {
            .Edit-bio-input {
              font-size: 0.8rem;
              width: 10rem;
            }
          }
        }

        .Edit-profile-button {
          font-size: 0.9rem;
          height: 2rem;
          width: 8rem;
        }
      }
    }

    .Panel {
      .List {
        font-size: 1rem;
        margin-left: -1rem;
        width: 98%;
        > li {
          &:not(:first-of-type) {
            margin-left: 2rem;
          }
        }
      }
    }

    .Panel {
      .Content {
        .Actions,
        .Teams {
          > div {
            margin-left: -1rem;

            > h3 {
              font-size: 1rem;
            }

            .Card {
              flex-direction: column;

              .Card-image {
                height: 8rem;
                width: 8rem;
              }

              .Card-body {
                margin: 0rem;
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
