.Container {
  background-image: url("/img/sky.jpg");
  display: flex;
  flex-direction: row;
  padding: 4rem 8rem;

  .Bio-panel {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15rem;

    .Profile-photo {
      border-radius: 0.5rem;
      box-shadow: 1px 1px black;
      height: 15rem;

      &-edit {
        > div {
          width: 100%;
        }

        .Photo {
          border-radius: 0.5rem;
          box-shadow: 1px 1px black;
          height: 15rem;
        }

        .Edit-photo-button {
          background-color: white;
          padding: 0.5rem;
          border: none;
          cursor: pointer;
          border-radius: 5px;

          > img {
            height: 1rem;
          }
        }
      }
    }

    .Username {
      font-size: 1.5rem;
    }

    .Info {
      font-size: 1rem;
      margin-top: -0.5rem;
      max-width: 15rem;
      overflow-wrap: break-word;

      &-edit {
        .Edit-bio-input {
          resize: none;
          height: 5rem;
          border-radius: 0.3rem;
          width: 100%;
        }

        .Save-button,
        .Cancel-button {
          background-color: rgba($color: white, $alpha: 0.3);
          border: 1px solid rgba($color: black, $alpha: 0.3);
          border-radius: 0.3rem;
          box-shadow: 0.5px 0.5px 0.5px 0.5px black;
          cursor: pointer;
          font-size: 1rem;
          margin-top: 0.5rem;
          margin-right: 0.5rem;
          outline: none;
          padding: 0.2rem;
          transition: 0.1s ease-in-out;
          width: 5rem;

          &:hover {
            background-color: rgba($color: rgb(192, 180, 180), $alpha: 0.3);
          }
        }
      }
    }

    .Edit-profile-button {
      &-off {
        background-color: rgba($color: white, $alpha: 0.3);
        border: 1px solid rgba($color: black, $alpha: 0.3);
        border-radius: 0.3rem;
        box-shadow: 0.5px 0.5px 0.5px 0.5px black;
        cursor: pointer;
        font-size: 1.2rem;
        margin-top: 1rem;
        outline: none;
        padding: 0.5rem;
        transition: 0.1s ease-in-out;
        width: 15rem;

        &:hover {
          background-color: rgba($color: rgb(192, 180, 180), $alpha: 0.3);
        }
      }

      &-on {
        display: none;
      }
    }
  }

  .Panel {
    margin-left: 5rem;
    width: 100%;

    .List {
      border-bottom: 1px solid black;
      display: flex;
      flex-direction: row;
      list-style-type: none;
      margin: 0;
      padding: 0;

      > li {
        cursor: pointer;
        padding: 0.5rem;
        padding-top: 0;

        &:hover {
          border-bottom: 2px solid orangered;
        }

        &:not(:first-of-type) {
          margin-left: 4rem;
        }

        &.Active-tab {
          border-bottom: 2px solid red;
        }
      }
    }

    .Content {
      margin-top: 1rem;

      > :not(.active) {
        display: none;
      }

      .Actions,
      .Teams {
        > div {
          background-color: rgb(209, 206, 218);
          border: 1px solid rgba($color: black, $alpha: 0.4);
          border-radius: 0.5rem;
          box-shadow: 0px 1px black;

          &:not(:first-of-type) {
            margin-top: 1rem;
          }

          > h3 {
            margin-left: 1rem;
            text-align: left;
          }

          > ul {
            list-style-type: none;
            text-align: left;

            > li:not(:first-of-type) {
              margin-top: 0.8rem;
            }
          }

          > p {
            cursor: pointer;
          }

          .Card {
            display: flex;
            flex-direction: row;

            .Card-image {
              border-radius: 0.5rem;
              height: 10rem;
              width: 10rem;
            }

            .Card-body {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin: 0.75rem 1.5rem;

              h4 {
                margin: 0;
              }

              .Card-categories {
                align-items: center;
                display: flex;
                flex-direction: row;

                > ul {
                  display: flex;
                  flex-direction: row;
                  list-style-type: none;
                  padding-left: 0.5rem;

                  > li {
                    border: 1px solid rgba($color: black, $alpha: 0.3);
                    border-radius: 0.2rem;
                    padding: 0.25rem;

                    &:not(:first-of-type) {
                      margin-left: 0.5rem;
                    }
                  }
                }
              }
            }
          }

          .Link {
            color: black;
            text-decoration: none;
          }
        }
      }
    }

    .Categories {
      > div {
        background-color: rgb(209, 206, 218);
        border: 1px solid rgba($color: black, $alpha: 0.4);
        border-radius: 0.5rem;
        box-shadow: 0px 1px black;
        max-width: 50rem;

        > ul {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          list-style-type: none;
          padding: 0rem;

          > li {
            background-color: rgb(218, 215, 226);
            border: 1px solid rgba($color: black, $alpha: 0.3);
            border-radius: 0.5rem;
            box-shadow: 0px 1px black;
            margin: 0.5rem;
            padding: 1rem;

            .Category {
              .Category-image {
                height: 10rem;
                width: 10rem;
              }

              > p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 1024px) {
  .Container {
    padding: 4rem 2rem;
  }
}

@media only screen and(max-width: 800px) {
  .Container {
    flex-direction: column;

    .Bio-panel {
      flex-direction: row;

      > div {
        margin: -1.75rem 2rem;
      }

      .Profile-photo {
        width: 10rem;
        height: 10rem;

        &-edit {
          .Photo {
            width: 10rem;
            height: 10rem;
          }
        }
      }

      .Username {
        margin-top: -0.4rem;
      }

      .Info {
        &-edit {
          .Edit-bio-input {
            width: max-content;
          }
        }
      }
    }

    .Panel {
      margin: 2.5rem 0rem;
    }
  }
}

@media only screen and(max-width: 550px) {
  .Container {
    .Bio-panel {
      margin-left: -1rem;
      flex-direction: column;

      .Profile-photo {
        width: 12rem;
        height: 12rem;

        &-edit {
          .Photo {
            width: 12rem;
            height: 12rem;
          }

          .Edit-photo-button {
            padding: 0.6rem;
          }
        }
      }

      > div {
        margin: 0.5rem;

        .Username {
          font-size: 1.5rem;
        }

        .Edit-profile-button {
          height: 2.5rem;
          width: 8rem;
        }
      }
    }

    .Panel {
      .List {
        margin-left: -1rem;
        width: 98%;
        > li {
          &:not(:first-of-type) {
            margin-left: 2rem;
          }
        }
      }
    }

    .Panel {
      .Content {
        .Actions,
        .Teams {
          > div {
            margin-left: -1rem;

            .Card {
              flex-direction: column;

              .Card-image {
                height: 8rem;
                width: 8rem;
              }

              .Card-body {
                margin: 0rem;
                margin-top: 1rem;
              }
            }
          }
        }
      }

      .Categories {
        > div {
          margin-left: -1rem;
          > ul {
            > li {
              .Category {
                .Category-image {
                  width: 10rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
