.LandingPage {
  margin-bottom: 2rem;
  margin-top: -4rem;

  .Intro {
    &_parallax {
      min-height: 90vh;
      padding-top: 10vh;
    }

    &_panel {
      background-color: rgba($color: white, $alpha: 0.7);
      border-radius: 1rem;
      margin: 6rem 10rem;
      padding: 4rem;

      &-top {
        align-items: center;
        display: flex;
        flex-direction: row;

        > img {
          max-height: 15rem;
          padding-right: 4rem;
        }

        > div {
          min-height: 40vh;
          text-align: left;

          > h1 {
            font-size: 3rem;
          }

          > h2 {
            font-size: 2rem;
            font-weight: normal;
          }
        }
      }

      &-bot button {
        background-color: rgba($color: mediumblue, $alpha: 0.7);
        border: 2px solid rgba($color: black, $alpha: 0.3);
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: rgba($color: blue, $alpha: 0.7);
        }
      }
    }
  }

  .Actions,
  .Categories {
    align-items: center;
    display: flex;
    flex-direction: column;

    > h3 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 3rem;
      margin-top: 4rem;
      padding: 0 2rem;
    }

    &_parallax {
      border-radius: 0.5rem;
      width: 80vw;
    }

    &_panel {
      box-shadow: inset 0 0 30px 1px black;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &_card {
      background-color: rgba($color: white, $alpha: 0.7);
      border-radius: 1rem;
      height: 25rem;
      margin: 4vh 2vw;
      padding: 1rem;
      max-width: 20rem;

      > h4 {
        font-size: 2rem;
        font-weight: normal;
        margin: 0;
        margin-bottom: 2rem;
        text-decoration: underline;
      }

      > img {
        border: 2px solid rgba($color: black, $alpha: 0.5);
        border-radius: 50%;
        height: 8.5rem;
        margin-bottom: 1rem;
      }

      > p {
        font-size: 1.5rem;
      }
    }
  }

  .Categories {
    &_panel {
      flex-wrap: wrap;
    }

    &_card {
      max-height: 17.5rem;
      max-width: 17.5rem;

      &_title {
        align-items: center;
        border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        > img {
          border: 1px solid black;
          margin: 1rem 0;
          max-height: 3rem;
        }

        > h5 {
          font-size: 1.5rem;
          font-weight: normal;
          margin: 0;
        }
      }
    }
  }

  .ScrollButton {
    border-radius: 30%;
    outline: none;
  }
}

@media only screen and(max-width: 1377px) {
  .LandingPage .show-6 {
    display: none;
  }
}

@media only screen and(max-width: 1200px) {
  .LandingPage .Intro_panel {
    margin: 6rem;
  }
}

@media only screen and(max-width: 1024px) {
  .LandingPage {
    .Intro_panel-top > img {
      display: none;
    }

    .Actions_panel {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media only screen and(max-width: 867px) {
  .LandingPage .show-4 {
    display: none;
  }
}

@media only screen and(max-width: 800px) {
  .LandingPage .Intro_panel {
    margin: 2rem;

    &-top > div {
      > h1 {
        font-size: 2.25rem;
      }

      > h2 {
        font-size: 1.75rem;
      }
    }

    &-bot button {
      font-size: 1.25rem;
    }
  }
}

@media only screen and(max-width: 440px) {
  .LandingPage {
    .Intro_panel {
      padding: 1.5rem;

      &-top > div {
        > h1 {
          font-size: 1.75rem;
        }

        > h2 {
          font-size: 1.5rem;
        }
      }
    }

    .Actions,
    .Categories {
      &_parallax {
        border-radius: 0;
        width: 100vw;
      }
    }

    .Actions_card {
      height: 25rem;
    }
  }
}
