.LandingPage {
  .Intro {
    margin-top: -4rem;

    &_parallax {
      align-items: center;
      display: flex;
      min-height: 60rem;
      justify-content: center;
    }

    &_panel {
      background-color: rgba($color: white, $alpha: 0.7);
      border-radius: 1rem;
      box-shadow: 0 0 30px 1px rgba($color: black, $alpha: 0.5);
      margin: 0 8rem;
      padding: 4rem;

      &-top {
        align-items: center;
        display: flex;
        flex-direction: row;

        > img {
          max-height: 15rem;
          padding-right: 4rem;
        }

        > div {
          min-height: 30vh;
          text-align: left;

          > h1 {
            font-size: 3rem;
            margin-top: 0;
          }

          > h2 {
            font-size: 2rem;
            font-weight: normal;
          }
        }
      }

      &-bot button {
        background-color: rgba($color: mediumblue, $alpha: 0.7);
        border: 2px solid rgba($color: black, $alpha: 0.3);
        border-radius: 0.5rem;
        color: white;
        cursor: pointer;
        font-size: 1.5rem;
        margin-top: 1rem;
        padding: 0.75rem 1.5rem;
        transition: 0.2s ease-in-out;

        &:hover {
          background-color: rgba($color: blue, $alpha: 0.7);
        }
      }
    }
  }

  .Actions,
  .Categories {
    align-items: center;
    display: flex;
    flex-direction: column;

    > h3 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 3rem;
      margin-top: 4rem;
      padding: 0 1rem;
    }

    &_parallax {
      border-radius: 0.5rem;
      width: 80vw;
    }

    &_panel {
      box-shadow: inset 0 0 30px 1px black;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    &_card {
      background-color: rgba($color: white, $alpha: 0.8);
      border-radius: 1rem;
      box-shadow: 0 0 30px 1px black;
      height: 25rem;
      margin: 4vh 2vw;
      padding: 1rem;
      max-width: 20rem;

      > h4 {
        font-size: 2rem;
        font-weight: normal;
        margin: 0;
        margin-bottom: 2rem;
        text-decoration: underline;
      }

      > img {
        border: 2px solid rgba($color: black, $alpha: 0.5);
        border-radius: 50%;
        height: 8.5rem;
        margin-bottom: 1rem;
      }

      > p {
        font-size: 1.5rem;
      }
    }
  }

  .Categories {
    padding-bottom: 2rem;

    &_panel {
      flex-wrap: wrap;
    }

    &_card {
      height: 13rem;
      width: 17.5rem;

      &_title {
        align-items: center;
        border-bottom: 1px solid rgba($color: black, $alpha: 0.3);
        display: flex;
        flex-direction: row;
        justify-content: center;

        > h5 {
          font-size: 1.8rem;
          font-weight: normal;
          margin: 0;
          margin-bottom: 1rem;
        }
      }
      > img {
        margin: 0;
        border: none;
        border-radius: 0;
        height: 6rem;
        margin-top: 1.5rem;
        // max-height: 2rem;
      }
      // > p {
      //   font-size: 1.3rem;
      // }
    }
  }
}

@media only screen and(max-width: 1680px) {
  .LandingPage .Intro {
    &_parallax {
      min-height: unset;
    }

    &_panel {
      margin: 6rem;
      margin-top: 8rem;
    }
  }
}

@media only screen and(max-width: 1377px) {
  .LandingPage .show-6 {
    display: none;
  }
}

@media only screen and(max-width: 1024px) {
  .LandingPage {
    .Intro_panel-top > img {
      display: none;
    }

    .Actions_panel {
      align-items: center;
      flex-direction: column;
    }
  }
}

@media only screen and(max-width: 867px) {
  .LandingPage .show-4 {
    display: none;
  }
}

@media only screen and(max-width: 800px) {
  .LandingPage .Intro_panel {
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    &-top > div {
      > h1 {
        font-size: 2.25rem;
      }

      > h2 {
        font-size: 1.75rem;
      }
    }

    &-bot button {
      font-size: 1.25rem;
    }
  }
}

@media only screen and(max-width: 440px) {
  .LandingPage {
    .Intro_panel {
      margin-bottom: 3rem;
      padding: 2.5rem;

      &-top > div {
        > h1 {
          font-size: 1.75rem;
        }

        > h2 {
          font-size: 1.5rem;
        }
      }
    }

    .Actions,
    .Categories {
      &_parallax {
        border-radius: 0;
        width: 100vw;
      }
    }

    .Actions_card {
      height: 25rem;
    }
  }
}
